# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app


*.vs
**/binaries
**/intermediate
Sandbox/SolProfile-Startup.json
Sandbox/SolProfile-Shutdown.json
Sandbox/SolProfile-Runtime.json
Sol-Editor/SolProfile-Runtime.json
Sol-Editor/SolProfile-Shutdown.json
Sol-Editor/SolProfile-Startup.json
Sol-Editor/assets/textures/think.png
*.tlog
*.write.1u.tlog
*.log
*.tlog
*.log
*.idb
*.lib
bin
bin-int
yaml-cpp.vcxproj
yaml-cpp.vcxproj.filters
Sol/thirdparty/assimp
Sol/thirdparty/GLFW
Sol/thirdparty/glm/
Sol/thirdparty/imgui/
Sol/thirdparty/stb/
Sol/thirdparty/yaml-cpp/
