[submodule "Sol/thirdparty/spdlog"]
	path = Sol/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sol/thirdparty/imgui"]
	path = Sol/thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Sol/thirdparty/glm"]
	path = Sol/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Sol/thirdparty/GLFW"]
	path = Sol/thirdparty/GLFW
	url = https://github.com/glfw/glfw
[submodule "Sol\\thirdparty\\stb"]
	path = Sol\\thirdparty\\stb
	url = https://github.com/nothings/stb
[submodule "Sol/thirdparty/stb"]
	path = Sol/thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "Sol/thirdparty/yaml-cpp"]
	path = Sol/thirdparty/yaml-cpp
	url = https://github.com/M1m1c/yaml-cpp-Sol.git
[submodule "Sol/thirdparty/imguizmo"]
	path = Sol/thirdparty/imguizmo
	url = https://github.com/M1m1c/ImGuizmo-Sol.git
