[submodule "Sol/thirdparty/spdlog"]
	path = Sol/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sol/thirdparty/imgui"]
	path = Sol/thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Sol/thirdparty/glm"]
	path = Sol/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Sol/thirdparty/GLFW"]
	path = Sol/thirdparty/GLFW
	url = https://github.com/glfw/glfw
