[submodule "Sol/thirdparty/spdlog"]
	path = Sol/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sol/thirdparty/GLFW"]
	path = Sol/thirdparty/GLFW
	url = https://github.com/glfw/glfw
[submodule "Sol/thirdparty/imgui"]
	path = Sol/thirdparty/imgui
	url = https://github.com/ocornut/imgui
